@import "../../node_modules/bootstrap/scss/bootstrap";

:root {
  --main-color: #ff9113;
  --btn-color: 100, 102, 233;
  --my-bg-primary: 14, 11, 42;
  --my-font-primary: 61, 136, 247;
}

h2::before {
  display: inline-block;
  content: '';
  width: 4px;
  height: 20px;
  margin-right: 10px;
  border-radius: 1px;
  //background-color: var(--subtext-color);
  background-color: #f8f9fa;
}

h2 {
  //background-color: rgb(248, 249, 250);
  background-color: #2b4275;
  //background-color: #3a5285;
  //background-color: #7284b7;


  border-radius: 5px;
  height: 60px;
  color: #ffffff;
  line-height: 60px;
  font-size: 28px;
  font-weight: 540;
  margin: 20px 0;
}